<div class=container>
  <h1><%=@list.name%></h1>

  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %>
      <%= bookmark.comment %></li>
    <% end %>
  </div>

  </ul>

  <div class=delete-list>
    <%= link_to 'Delete list',
    list_path(@lists),
    data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </div>

  <div class=add-movie>
    <%= link_to 'Add a movie', new_list_bookmark_path(@list) %>
  </div>

  <div class=back-to-lists>
    <%= link_to 'Back to all lists', lists_path(@list) %>
  </div>
</div>
